@charset "utf-8";
body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
header{
	width:100%;
	height:60px;
	position: fixed;
/*	position: fixed;*/
	box-shadow: 0 0 15px;
	z-index: 99;
}
#titlebar{
	height:60px;
	background-color: /*#00a0e9*/#ffffff;
	display: flex;
	width: 100%;
	align-items: center;
	padding:0 0 0 10px;
}
#tblogo {
	height: 50px;
}
a {
	text-decoration: none;
	color: black;
}
#tbbutton {
	height: 60px;
	float: right;
	display: flex;
	position: absolute;
	right: 0px;
	align-items: center;
	padding-right:10px
}
nav {
	margin-left: 30px;
	float:left;
}
.tbicon {
	height:40px;
	padding: 2px;
	border-radius: 10px;
}

.tbicon:hover {
	background-color: #e6e6e6;
}

nav a {
	margin:0 8px;
	padding: 2px;
	border-radius: 2px;
}

nav a:hover{
	background-color: #e6e6e6;
}

main {
	padding-top: 60px;
}

#lbt {
	width:100%;
	height: 360px;
	background-color: #00a0e9
}
section {
	width:100%;
	height: 360px;
	background-color: #00a0e9
}
section img{
	
}
#lbtvideo {
	float:left;
	height: 360px;
	width: 480px;
}

#lbttext{
	float:right;
	position: absolute;
	left: 600px;
	top:100px;
	color:white;
}

.button {
	background: #00c853;
	border-radius: 2px;
	color: white;
	display: inline-block;
	font-size: 16px;
	height: 48px;
	letter-spacing: .5px;
	line-height: 48px;
	padding: 0 24px;
}

#content {
	width:70%;
	float:left;
	margin: 10px
}

.neirong {
	width:800px;
	height: 320px;
	box-shadow: 0 0 10px;
}
footer {
	background-color: rgba(34,34,34,1);
	height:64mm;
	width:100%;
	border-radius:10px 10px 0px 0px;
	box-shadow:0px 0px 12px black;
	float:left;
	box-sizing:content-box;
}
.footer-logo{
	padding:32px;
	width:20%;
	height: auto;
}
.footer-link {
	color: white;
	padding-right: 20px;
}

.innerlink {
	padding-left: 32px;
}

.footer-link:hover {
	text-decoration: underline
}

.sociallink {
	padding-left: 32px;
}
