@charset "utf-8";
body{
	margin: 0;
}
header{
	width:100%;
	height:60px;
	position: fixed;
}
#titlebar{
	width:100%;
	height:60px;
	background-color: #00a0e9;
	border-radius: 0 0 15px 15px;
	display: table;
}